<!-- templates/guias_remision/pdf_guia_remision.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: sans-serif; }
        table { width: 100%; border-collapse: collapse; margin-top: 20px; }
        th, td { border: 1px solid #ccc; padding: 6px; text-align: left; }
        th { background-color: #f0f0f0; }
    </style>
</head>
<body>
    <h2>Guía de Remisión</h2>
    <p><strong>RUC del emisor:</strong> {{ datos.codigo_RUC }}</p>
    <p><strong>Razon del emisor:</strong> {{ datos.razon_social }}</p>
    <p><strong>Pedido relacionado:</strong> {{ pedido.serie }} - {{ pedido.correlativo }}, emitido {{pedido.fecha|date:"Y-m-d H:i"}}</p>
    <p><strong>Fecha de Emisión:</strong> {{ fecha_emision|date:"Y-m-d H:i" }}</p>
    <p><strong>Motivo de traslado:</strong> Venta </p>
    <p><strong>Apellidos y nombres, denominacion o razon del destinatario:</strong> {{ pedido.cotizacion.oportunidad.cliente.nombre }}</p>
    <p><strong>Documento de identidad del destinatario:</strong> {{ pedido.cotizacion.oportunidad.cliente.documento }}</p>
    <p><strong>Dirección de Partida:</strong> {{ direccion_partida }}</p>
    <p><strong>Dirección de Llegada:</strong> {{ pedido.direccion }}</p>
    <p><strong>Placa del vehiculo:</strong> {{ placa }}</p>
    <p><strong>Documento del conductor:</strong> {{ licencia }}</p>
    <p><strong>Observaciones:</strong> {{ pedido.observaciones|default:"-" }}</p>

    <h3>Productos Transportados</h3>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Producto</th>
                <th>Unidad De Medida</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for detalle in detalles %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ detalle.producto.nombre }}</td>
                <td>{{ detalle.producto.umedida_sunat }}</td>
                <td>{{ detalle.cantidad }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
